<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="Scripts/angular.js" type="text/javascript"></script>
    <script src="js/Three_Clicks.js" type="text/javascript"></script>
    <!--<script src="js/protractor.js" type="text/javascript"></script>-->
</head>
<body data-ng-app="myServiceModule">

<div id="simple" data-ng-controller="MyController">
  <p>Let's try this simple notify service, injected into the controller...</p>
  <input data-ng-init="message='test'" data-ng-model="message"/>
  <button data-ng-click="callNotify(message);">NOTIFY</button>
  <p>(you have to click 3 times to see an alert)</p>
</div>

</body>
</html>
